:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#test-area {
  font-size: 1rem;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard {
  position: fixed;
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem 0.3rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.key {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  background-color: #242424;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.key--pressed {
  background-color: rgba(72, 209, 204, 0.7);
  color: #242424;
}

.key:hover {
  box-shadow: 0px 0px 3px 1px rgba(72, 209, 204, 0.7);
}

.key--wide {
  width: 5rem;
}

.key--space {
  flex: 1 0 5rem;
}